<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MASAC_SEIDOREntities" connectionString="metadata=res://*/SAPModel.csdl|res://*/SAPModel.ssdl|res://*/SAPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JUIIMK1\SQL2012;initial catalog=MASAC_SEIDOR;persist security info=True;user id=sa;password=root;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="APPLICATION_STARTUP_TIME" value="500"/>
    <add key="APPLICATION_INTERNALCYCLE_TIME" value="2000"/>
  </appSettings>
</configuration>